body
{
    overflow: hidden;
}

#gameScreen
{
    display: none;
}

#popupOuter
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#popupOuter
    #popupInner
{
    min-width: 400px;
    max-width: 80%;
    max-height: 80%;
    background: white;
    padding: 32px;
    border-radius: 16px;

    overflow: auto;
}

#gameCodeInput:invalid,
#playersQtyInput:invalid
{
    background-color: rgba(255, 0, 0, .5);
}
